@model Tuple<IEnumerable<SelectListItem>, IEnumerable<SelectListItem>, IEnumerable<SelectListItem>> 
@{
    ViewBag.Title = "Home Page";
}

 <fieldset>
     <legend>
         Restaurant 
     </legend>
     <div class="container">
         <div class="row">

             <div class="col-md-6">

                 <div class="form-group">
                     Customer :
                     @Html.DropDownList(name: "Customer", new SelectList(Model.Item1, dataValueField: "Value", dataTextField: "Text"),
                     htmlAttributes: new { @class = "form-control" })
                 </div>
                
             </div>
             <div class="col-md-6">               

                 <div class="form-group">
                     Payment Types :
                     @Html.DropDownList(name: "PaymentTypes", new SelectList(Model.Item3, dataValueField: "Value", dataTextField: "Text"),
                     htmlAttributes: new { @class = "form-control" })
                 </div>

             </div>


         </div> 
     </div>

 </fieldset>